# Sets in python

In [2]:
set = {1,2,3,4,5,6,7,4,3,2,9,10} # num are not repeated
set

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [4]:
#mutable
my_set = {1,2,3}
my_set.add(8)
my_set

{1, 2, 3, 8}

In [6]:
#no indexing
my_set = {1,2,3}
for item in my_set:
    print(item)

1
2
3

In [ ]:
# set itself is mutable it cannot hold mutable data types

### Set methods

In [10]:
# 1.add()
my_set = {1,2,3}
my_set.add(55) # only 1 value is added at once
my_set.add(6)
my_set

{1, 2, 3, 6, 55}

In [12]:
# 2.update() used to add multiple values
my_set = {1,2,3}
my_set.update([4,5,6,7]) #here square braket is important or else error is shown
my_set

{1, 2, 3, 4, 5, 6, 7}

In [14]:
# 3.remove()
my_set = {1,2,3}
my_set.remove(1) #here only on argumet
my_set

{2, 3}

In [16]:
# 4.discard()
my_set = {1,2,3}
my_set.discard(20) #it shows no error even if  the ele is not present
my_set

{1, 2, 3}

In [18]:
#5.pop()
my_set = {1,2,3}
my_set.pop() #remove the random elment
my_set

{2, 3}

In [20]:
my_set.pop()

2

In [22]:
my_set

{3}

In [24]:
# 6.clear()
my_set = {1,2,3}
my_set.clear()
my_set

set()

In [26]:
#7.union()
set1 = {1,2,3,4}
set2 = {5,6,7,8} #it joins to set
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
#8.intersection()
set1 = {1,2,3,4}
set2 = {1,4,2} 
set1.intersection(set2) # repeated ele are printed

{1, 2, 4}

In [30]:
#9.difference()
set1 = {1,2,3,4,5}
set2 = {1,4,2} 
set1.difference(set2) #here ele which is not present in set 2 that is printed

{3, 5}

In [32]:
#10.symmetric difference()
set1 = {1,2,3,4,5}
set2 = {1,4,2,6} 
set1.symmetric_difference(set2) # here which ele is not common that r printed

{3, 5, 6}

In [34]:
#11.issubset()
set1 = {1,2,3,4,5}
set2 = {1,4,2,6} # if in both set ele are not equalit will print false
set1.issubset(set2)

False

In [36]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5} # if in both set ele are not equalit will print false
set1.issubset(set2)

True

In [38]:
#12.issuperset()
set1 ={1,2,3}
set2 ={1,2,3} #here it checks if set1 has all the ele of set2 if not it gives false
set1.issuperset(set2)

True

In [40]:
#13.isdisjoint() returns true if the sets have no ele in common
set1 ={1,2,3}
set2 ={1,2,3} 
set1.isdisjoint(set2)

False

In [42]:
set1 = {1,2,3,4}
set2 = {5,6,7,8} #it joins to set
set1.isdisjoint(set2)

True

In [44]:
#14.copy() returns the copy of given set
set1 = {1,2,3,4}
set_copy = set1.copy()
set_copy

{1, 2, 3, 4}

In [46]:
# >>>frozenset() it converts mutable to immutable
my_set = {1,2,3}
my_set.add(8)
my_set

{1, 2, 3, 8}

In [48]:
a = frozenset(my_set)

In [50]:
a

frozenset({1, 2, 3, 8})

In [52]:
a.add(9) #once frozen set is created it cannot be changed

AttributeError: 'frozenset' object has no attribute 'add'

## PYTHON FUNCTION ON SET

In [55]:
#1.len()
set1 = {0,2,8,3,6,3}
len(set1)

5

In [57]:
#2.max()
set1 = {1,2,3,7}
max(set1)

7

In [59]:
#3.min()
set1 = {1,2,3,7}
min(set1)

1

In [61]:
#4.sum()
set1 = {1,2,3,7}
sum(set1)

13

In [63]:
#5.sorted()
set1 = {1,2,3,3,9,7,5,2,10,11,6}
sorted(set1)

[1, 2, 3, 5, 6, 7, 9, 10, 11]

In [65]:
#6.any() returns true if any value in set i s true 
set1 = {1,2,3,3,9,7,5,2,10,11,6}
any(set1)

True

In [67]:
#7.all() returns true if all the value in the set is true
set1 = {1,2,3,3,9,7,5,2,10,-1,False}
all(set1)

False

In [77]:
del set

In [81]:
#8.set converts an iterable to a set removing duplicate
my_list = [1, 2, 1, 2, 3, 4, 3, 5, 6, 5, 7, 9, 7, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## basic set comprehension

In [84]:
num = [1,2,3,4,5]
squares_set = {x**2 for x in num}
print(squares_set)

{1, 4, 9, 16, 25}

In [86]:
num = [1,2,3,4,5]
even_squares_set = {x**2 for x in num if x%2 ==0}
even_squares_set

{4, 16}