# foor loop

In [ ]:
# it is used for iterating over a sequence (list , tuple , string) it allows u to executed a block of code item in sequence

### syntax

In [ ]:
for variable in sequence:
    #code to be execute

In [12]:
a=[1,2,3,4,5,6]

In [13]:
for i in a:
    print(i)

1
2
3
4
5
6

# sequence

In [ ]:
# it refer to an order collection of elements

In [1]:
fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [2]:
#string
word ="hello"

#using a for loop to iterate our string
for letter in  word:
    print(letter)

h
e
l
l
o

In [3]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,10,3):
    print(i)

1
4
7

In [ ]:
#start #stop #jump

In [9]:
a=[]

In [10]:
for i in a:
    print(i)
else:
    print("loop is finished")

loop is finished

In [11]:
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

In [14]:
name ='raj'

In [15]:
print(f'my nmae is {name}')

my nmae is raj

In [17]:
for i in range(3):
    print(i)
    print("this will be 1st")
    print("this is second")
    print("this is third")

0
this will be 1st
this is second
this is third
1
this will be 1st
this is second
this is third
2
this will be 1st
this is second
this is third

In [20]:
st = "hello"
n = len(st)
for i in range (n):
  print(i, "=",st[i])

0 = h
1 = e
2 = l
3 = l
4 = o

# break

In [ ]:
# it is used to exit the loop

In [22]:
for number in range(10):
    if number ==5:
        break
    print(number)

print("for loop has been stopped")

0
1
2
3
4
for loop has been stopped

### continue

In [23]:
#it stops the perticular iteration it just skips and continue next one

In [25]:
for number in range(5):
    if number == 2:
        continue
    print(number)

0
1
3
4

### pass

In [26]:
# it does nothing when executed

In [28]:
for number in range(5):
    if number == 3:
        pass 
    else:
        print(number)

0
1
2
4

# exersise

In [46]:
# program that search specific number in list of integers

numbers = [1, 2, 3, 4, 5]
target = 4

for number in numbers:
    if number == target:
        print(f"Number {target} is found")
        break

Number 4 is found