In [1]:
score = 75
has_passed = (score>=60)
print("has the student passed?",has_passed)

has the student passed? True

In [2]:
(score>=60)

True

In [3]:
#senario2 u have to item priced $40,$50 check if item 1 is less than item2
first_item = 40
second_item = 50
check = (first_item<= second_item)
print(check)

True

### logical operators

In [5]:
#* And operator
#* or operatpor
#* not operator

#example
3>2 and 3<2

False

In [6]:
#ex
3>2 and 4>5

False

In [7]:
2<2 and 3<3

False

In [8]:
5>10 and 11<10
True and False #it should be in cap

False

### bitwise operator

In [ ]:
a computer converts into bits using binary encoding where each piece of data is represented as a combination of these two binary digits

In [ ]:
ex: 1 = 1000

In [ ]:
TYPES OF BITWISE OPERATOR
> AND(&)

In [9]:
# example
a = 5 #binary: 0101
b = 3 #binary:0011
result = a &b
print(result)

1

In [ ]:
>or operator(|)

In [ ]:
>not operator(~)

# membership operator

In [ ]:
are used to test whether a value or variable exists within a sequence or a variable

In [ ]:
> in operator : check if specific value is  present in a sequence

In [10]:
# example 
my_list = [1,2,3,4,5]
print(3 in my_list)

True

In [11]:
print(6 in my_list)

False

In [ ]:
>not operator: check if specific value is not present in a sequence

In [12]:
# example
my_list = [1,2,3,4,5]
print(10 not in my_list)

True

In [13]:
fruits= ["apple", "mango", "grapes"]
print("apple" in fruits) # use of in

True

In [14]:
print("pinapple" not in fruits) #use of not in

True

In [15]:
print("guava" in fruits) # use of in

False

In [16]:
print("apple" not in fruits) #use of not in

False

In [17]:
#using string
message = (" i love programming language")
print("love" in message)

True

In [18]:
print("java" not in message)

True

In [19]:
#using dictionary
person = {"name": "sania" , "age":21, "city":"bangalore"}
print("name" in person)

True

In [20]:
print(22 not in person)

True

In [21]:
print("sania" in person)

False

In [ ]:
> if condition

In [22]:
# example
a =[1,2,3]
1 in a

True

In [23]:
# ex
if 1 in a:
    print(" i  got it")
print("this will be printed")

 i  got it
this will be printed

In [24]:
# ex
if 10 in a:
    print(" i  got it")
print("this will be printed")

this will be printed

In [25]:
# ex
age = 20
if age >= 19:
    print("ur eligible to vote")

    print("this will be printed any how")

ur eligible to vote
this will be printed any how

In [26]:
# ex
if 5>2:
    print("greater")

greater

In [27]:
if 5<2:
    print("greater")
print(" smaller")

 smaller

In [28]:
if 5>2 and 7<3:
    print("if statement with logical operator")
    print("statement 2")

In [ ]:
> if else statement

In [29]:
temperature = 30
if temperature > 30:
    print("it is a hot day")
else:
    print("it is normal temperature")

it is normal temperature

In [30]:
num = 22
if num%2 == 0:
    print("it is odd")
else:
    print("it is even")

it is odd

In [31]:
num = 21
if (num%2 == 0):
    print("it is odd")
else:
    print("it is even")

it is even

In [ ]:
>elif statement : we can check multiple conditions

In [32]:
marks = 60
if marks>=90:
    print("grade: A")
elif marks>=80:
    print("grade:b")
elif marks>=70:
    print("grade:C")
elif marks>=60:
    print("grade : D")
else:
    print("grade : E")

grade : D

> multiple if statements

In [33]:
marks = 25

if marks>=60:
    print("grade: A")
if marks>=80:
    print("grade:b")
if marks>=70:
    print("grade:C")
else:
    print("grade : D")

grade : D

In [ ]:
> NESTED IF

In [34]:
num=1
if num>0:
    print("number is positive")
    if num%2==0:
        print("num is even")
    else:
        print("num is odd")

number is positive
num is odd

In [36]:
num=12
if num>0:
    print("number is positive")
    if num%2==0:
        print("num is even")
    else:
        print("num is odd")

number is positive
num is even