# Dictionary

In [7]:
dict = {"row_id":1,"order_id":2}

In [9]:
dict

{'row_id': 1, 'order_id': 2}

In [23]:
data_set = {"name":"mehak","age":21,"sex":"f","course":"BCA"}
type(data_set)

dict

In [25]:
data_set

{'name': 'mehak', 'age': 21, 'sex': 'f', 'course': 'BCA'}

# key character of dic

In [ ]:
#  unordered do not maintain any order for their elements

In [27]:
data_set = {"name":"mehak","age":21,"sex":"f","course":"BCA"}
data_set

{'name': 'mehak', 'age': 21, 'sex': 'f', 'course': 'BCA'}

In [ ]:
# mutable it can can be modified once creadted

In [29]:
data_set

{'name': 'mehak', 'age': 21, 'sex': 'f', 'course': 'BCA'}

In [21]:
data_set["city"] = "bangalore"

In [31]:
data_set

{'name': 'mehak', 'age': 21, 'sex': 'f', 'course': 'BCA'}

In [33]:
# unique key if u use the same key again the previous value will be over written
data_set = {"name":"mehak","age":21,"age":25,"age":24,"age":31,}
data_set #last added value is printed

{'name': 'mehak', 'age': 31}

In [ ]:
# it is immutable
# dynamic
>>>values in dic
*mutable and unmutable
*key
*values

## accessing values in dictionary

In [36]:
my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}
my_dict["age"]

20

## using get () method

In [39]:
my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}

In [41]:
my_dict.get("hobbies")

['drawing', 'reading novels', 'dancing']

## Accessing all keys

In [44]:
my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}

In [46]:
my_dict.keys()

dict_keys(['name', 'age', 'hobbies', 'education'])

## Accessing all values

In [50]:
my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}
my_dict.values()

dict_values(['mehak', 20, ['drawing', 'reading novels', 'dancing'], 'bca'])

## Accessing all key-value pairs:

In [53]:
my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}
my_dict.items()

dict_items([('name', 'mehak'), ('age', 20), ('hobbies', ['drawing', 'reading novels', 'dancing']), ('education', 'bca')])

## Iterating over keys and values

In [56]:
my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}
for i in my_dict:
    print(i)

name
age
hobbies
education

##  iterating over value

In [59]:
my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}
for j in my_dict.values():
    print(j)

mehak
20
['drawing', 'reading novels', 'dancing']
bca

## Iterating over key-vle pairs

In [62]:
my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}
for i,j in my_dict.items():
    print(f"{i}: {j}")

name: mehak
age: 20
hobbies: ['drawing', 'reading novels', 'dancing']
education: bca

## Nested dic in python

In [65]:
dict_new = {"person1":{
    "name":"mehak",
    "age":20,
    "city":"bangalore"
},
            "person2":{
    "name":"sania",
    "age":20,
    "city":"bangalore"
            }
           }
dict_new

{'person1': {'name': 'mehak', 'age': 20, 'city': 'bangalore'},
 'person2': {'name': 'sania', 'age': 20, 'city': 'bangalore'}}

## Accessing elements in dictionary

In [68]:
dict_new["person1"]["age"]

20

In [72]:
dict_new["person2"]["name"]

'sania'

## modifying elements in dict

In [75]:
dict_new["person2"]["name"] = "muskan"

In [77]:
dict_new["person2"]["name"]

'muskan'

## Adding a new dic to nested dictionary

In [80]:
dict_new["person3"] = {
    "name":"sanam",
    "age":20,
    "city":"mumbai"
            }
dict_new

{'person1': {'name': 'mehak', 'age': 20, 'city': 'bangalore'},
 'person2': {'name': 'muskan', 'age': 20, 'city': 'bangalore'},
 'person3': {'name': 'sanam', 'age': 20, 'city': 'mumbai'}}

## Usind del statement

In [83]:
my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}
del my_dict["age"]
my_dict

{'name': 'mehak',
 'hobbies': ['drawing', 'reading novels', 'dancing'],
 'education': 'bca'}

## Membership operator on dictionary

In [88]:
# *in operator
# *not in oprator

my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}

"age" in my_dict

True

In [90]:
my_dict ={
    "name":"mehak",
    "age":20,
    "hobbies":["drawing","reading novels","dancing"],
    "education":"bca"
}
"age" not in my_dict

False

## Dictionary comprehension

In [93]:
#basic dictionary comprehension
{i: i**2 for i in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [95]:
squares = {i:i**2 for i in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Dictionary comprehension with codition

In [98]:
cubes = {x: x**3 for x in range (1,11) if x%2 ==0}
print(cubes)

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

### Advantages of Dictionary

In [ ]:
*conciseness
*readability
*fficiency