# Tuple

In [5]:
# 1. orderd
# 2. immutable
my_tuple = (1,2,3) #here once value is assigned it cannot be changed thats y error
my_tuple[0] = 225

TypeError: 'tuple' object does not support item assignment

In [7]:
# 3. heterogeneous it can have diff data types
tup = (1,"hello",3.14)
tup

(1, 'hello', 3.14)

In [9]:
# 4. indexing and slicing

my_tuple = (10,20,30,40)
print(my_tuple[2]) # accesed by index
print(my_tuple[1:4]) # here part is sliced

30
(20, 30, 40)

In [11]:
# 5. packing and unpacking

#packing
my_tuple = 1,2,3 # here (,) is defined as tuple
type(my_tuple)

tuple

In [13]:
# unpacking
a,b,c = my_tuple
print(a,b,c)

1 2 3

In [15]:
a

1

In [17]:
b

2

In [19]:
c

3

In [21]:
## when can we use tuple : if we dont want to modify the data then we use tupple
person = ("mehak",20,"bca")
print(person[0])
print(person[1])
print(person[2])

mehak
20
bca

In [23]:
coordinates = (10,20,30)
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]
print(x,y,z)

10 20 30

In [25]:
value = [[1,2,3,4],[5,6,7,8,[11,12,13]]]
value[0][0]

1

In [27]:
value [1][1]

6

In [29]:
value [1][0]

5

In [31]:
# slicing in tuple
my_tuple = (1,2,3,4,5,6,7,8,9)

In [33]:
slice_1 = my_tuple[0:3]
print(slice_1)
slice_2 = my_tuple[3:]
print(slice_2)

(1, 2, 3)
(4, 5, 6, 7, 8, 9)

In [35]:
# scenario
fruits = ("apple","banana","cherry","date","elderberry")
print(fruits[2])

cherry

In [37]:
#scenario
numbers = (10,20,30,40,50)
new_tuple = numbers[:3]
print(new_tuple)

(10, 20, 30)

In [39]:
#scenario
colors = ("red","green","blue","yellow","purple")
colors[-1]

'purple'

In [41]:
#scenario
nested_tuple = (1,(2,3),(4,(5,6),7),8)
nested_tuple[2][1][0]

5

In [45]:
names = ("alice","bob","charlie","diana","even")
last_three = names[-3:]
last_three

('charlie', 'diana', 'even')

In [47]:
# covrt tuple to list , modify,and covert again
#original tuple
fruits = ("apple","banana","cherry")
type(fruits)

tuple

In [49]:
a = list(fruits)
type(a)

list

In [51]:
a.append("mango")
a

['apple', 'banana', 'cherry', 'mango']

In [57]:
b = tuple(a)
type(b)

tuple

In [59]:
b

('apple', 'banana', 'cherry', 'mango')

In [61]:
# concatenate slices of tuple
fruits = ("apple","banana","cherry")
fruits_new = fruits[:1] + ("blueberry",) + fruits[2:] #here , is important else error will be thrown
print(fruits_new)

('apple', 'blueberry', 'cherry')

In [63]:
# using concatenationnn to add ele
fruits = ("apple","banana","cherry")
fruits1 = fruits + ("date",)
print(fruits1)

('apple', 'banana', 'cherry', 'date')

In [ ]:
#deleting a tuple we can delete entire tuple not an single element

### Tuple arithmetic operation

In [ ]:
*addition
*multiplication
(subtraction and division is not used in tuple)

### Membership in tuple

In [ ]:
*in operator
* not in operator

### Methods in tuple

In [ ]:
1.count()
2.index()

In [84]:
name = ("mehak")
name.index("a")

3

# Function on tuple

In [87]:
# 1. len()
name = ("mehak")
len(name)

5

In [89]:
# 2.max()
name = ("mehak taj")
max(name)

't'

In [91]:
# 3.min()
name = ("mehaktaj")
min(name)

'a'

In [95]:
# 4.sum()
my_tuple = (1,2,3,4,5,6,7,8,9)
sum(my_tuple)

45

In [97]:
# 5.sorted() here sort will not work because it is immutable
# 6. any()
tuple = (0,0,0)
any(tuple)

False

In [103]:
# 7.all()
tuple = (1,1,1)
all(tuple)

True

In [105]:
#scenario
scores = (88,76,92,85,79)
highest = max(scores)
print("highest:",highest)

highest: 92

In [107]:
lowest = min(scores)
print("lowest:",lowest)

lowest: 76

In [109]:
#scenario
cities = ("new york","los angeles","paris","london","tokyo")
search_paris = "paris" in cities
print("paris is located in cities : ",(search_paris))

paris is located in cities :  True